@develop-mode: false;



//@font-round-medi: "DINRoundPro-Medi", "DINRoundPro", sans-serif;
//@medium: 500;




@width-sm: 		576px;
@width-md: 		768px;
@width-lg: 		1040px;
@width-xl: 		1200px;


@height-sm: 	600px;
@height-md: 	768px;
@height-lg: 	1000px;


@global-color: 			#ffe948;
@focus-color: 			#505050;


.btn-normalize () {
    font-family: "Stem", sans-serif;
	display: inline-block;
	border-radius: 0;
	padding: 0;
	outline: none;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	background: none; 
	overflow: hidden;
    vertical-align: middle;
	transform: translateZ(0);
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

.font-size (@e) {
	font-size: @e/20rem;
}





html {
	
	font-size: 10px;
	
	@media (min-width: @width-lg) {
//		font-size: 16px;
	}
	@media (min-width: @width-xl) {
		font-size: 12px;
	}
	@media (min-width: 1440px) {
		font-size: 14px;
	}
	@media (min-width: 1690px) {
		font-size: 20px;
	}
}
body {
	
    -webkit-font-smoothing: antialiased;
	font-family: 'Futura', 'LucidaGrande', 'Lucida Grande', sans-serif;
	background: white;
	
//	background: url(/img/rm/smm.svg) center top no-repeat;
//	background: url(/img/rm/site.svg) center top no-repeat;
//	background: url(/img/rm/reputatsia.svg) center top no-repeat;
//	background: url(/img/rm/roliki.svg) center top no-repeat;
	
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	display: flex;
	flex-direction: column;
	
	@media (min-width: @width-md) {
		
	}
}
img,
video,
audio {
	max-width: 100%;
	height: auto;
}
//::selection {
//	color: #000;
//	background: @global-color;
//}





.orange {
	color: @global-color;
}

.small {
	font-size: 75%;
}
.nowrap {
    white-space: nowrap;
}



.input {
//	width: 100%;
	max-width: 100%;
//	height: 65px;
	background: none;
	outline: none;
	border-radius: 0;
	box-shadow: none!important;
	border: 1px solid #707070;
	font-family: 'Futura', sans-serif;
	.font-size (30);
//	padding: 5px 45px;
	
	padding: 0.8rem 1rem;
	transition: all .3s ease;
	&:focus {
		box-shadow: 0 0 0 3px @focus-color;
	}
}
.textarea {
	background: none;
	outline: none;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #707070;
	font-family: 'Futura', sans-serif;
	.font-size (30);
	padding: 5px 45px;
	transition: all .3s ease;
	&:focus {
		box-shadow: 0 0 0 3px @focus-color;
	}
}
.btn {
	background: @global-color;
	border: 1px solid transparent;
	box-shadow: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	text-decoration: none;
	border-radius: 0;
	padding: 0;
	outline: none;
//	height: 65px;
	font-family: 'Futura', sans-serif;
	.font-size (30);
	
	padding: 0.8rem 1.5rem;
	
	transition: all .3s ease;
	&:hover {
		background: darken(@global-color, 15);
	}
	&:focus {
		box-shadow: 0 0 0 3px @focus-color;
	}
}



.wrapper {
	
//	@media (min-height: @height-md) {
//	}
	display: flex;
	flex-direction: column;
//	align-items: stretch;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
	height: 100vh;
	width: 100%;
	padding-top: 80px;
//	min-height: 800px;
	transition: filter .3s;
	&.active {
		filter: blur(10px);
	}
	@media (min-width: @width-md) {
		padding-bottom: 15px;
		filter: none!important;
	}
	@media (min-width: @width-lg) {
		padding-top: 100px;
	}
	@media (min-width: @width-xl) {
		padding-bottom: 25px;
	}
	@media (min-width: 1440px) {
		padding-bottom: 35px;
		padding-top: 130px;
	}
	@media (min-width: 1690px) {
		padding-bottom: 45px;
	}
}

.header {
	background: white;
//	opacity: .5;
	
	display: flex;
	justify-content: space-between;
	
	padding-left: 20px;
	padding-right: 15px;
	height: 80px;
	z-index: 100;
	position: absolute;
	width: 100%;
	
	@media (min-width: @width-lg) {
		height: 100px;
		padding-left: 75px;
		padding-right: 40px;
	}
	
	@media (min-width: 1440px) {
		padding-left: 133px;
		padding-right: 67px;
		height: 130px;
	}

	&__logo {
		height: 100%;
		background: url(../img/logo.png) center no-repeat;
		background-size: contain;
		width: 100px;
		@media (min-width: @width-lg) {
			width: 120px;
		}
		@media (min-width: 1690px) {
			width: 140px;
		}
	}
	&__nav {
		height: 100%;
		display: flex;
		align-items: center;
		
		position: fixed;
		background: white;
		z-index: -1;
		flex-direction: column;
		width: 280px;
		right: 0;
		padding-top: 100px;
		padding-left: 20px;
		align-items: flex-start;
		transition: all .3s ease;
		transform: translateX(100%);
		&.active {
			transform: none;
		}
		@media (min-width: @width-md) {
			transform: none;
			position: relative;
			flex-direction: row;
			align-items: center;
			width: auto;
			padding-top: 0;
			padding-left: 0;
		}
	}
	&__btn-nav {
		.btn-normalize ();
		> span {
			width: 30px;
			height: 3px;
			background: @global-color;
			display: block;
			margin: 5px 0;
			
			transition: all .3s ease;
			&:first-child {
				transform-origin: left center;
			}
			&:last-child {
				transform-origin: left center;
			}
		}
		
		&.active {
			> span {
				&:nth-child(2) {
					opacity: 0;
				}
				&:first-child {
					transform: translateY(-2px) rotate(45deg);
				}
				&:last-child {
					transform: translateY(3px) rotate(-45deg);
				}
			}
		}
		@media (min-width: @width-md) {
			display: none;
		}
	}
	&__link {
		
		text-decoration: none;
		color: black;
		font-size: 2rem;
		text-transform: lowercase;
		position: relative;
		
		margin-bottom: 20px;
		&.active {
			font-weight: bold;
			&:before {
				content: '';
				position: absolute;
				bottom: -5px;
				width: 100%;
				height: 3px;
				background: @global-color;
			}
		}
		
		@media (min-width: @width-md) {
			margin-bottom: 0;
			.font-size (25);
			&:nth-child(n+2) {
				margin-left: 5rem;
			}
		}
	}
	&__btn {
		background: @global-color;
		
		text-decoration: none;
		color: black;
		font-size: 2rem;
		padding: 1rem 1.5rem;
		text-transform: lowercase;
		text-align: center;
		transition: all .3s ease;
		
//		min-width: 210px;
		
		> span {
			
			margin-right: 10px;
		}
		@media (min-width: @width-md) {
			font-size: 1rem;
			margin-left: 4rem;
			padding: 0.65rem 1rem;
			
			> span {
				.font-size (25);
				line-height: 1em;
				margin-right: 8px;
			}
		}
		&:hover {
			background: darken(@global-color, 15);
		}
		&:focus {
			box-shadow: 0 0 0 3px @focus-color;
		}
		
	}
}
.hero {
//	opacity: .5; 
	
	overflow: auto;
//	margin-bottom: 45px;
//    padding-bottom: 173px;
	position: relative;
//	background: linear-gradient(to bottom, #505050, #808080);
	background: url(../img/hero-bg.jpg) right no-repeat;
	background-size: cover;
//	backdrop-filter: blur(3px);
	
	
	height: 100%;
	
	
	@media (min-width: @width-md) {
		margin-left: 15px;
		margin-right: 15px;
	}
	@media (min-width: @width-lg) {
		margin-left: 40px;
		margin-right: 40px;
		
	}
	&__wrapper {
		min-height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding-left: 20px;
		backdrop-filter: blur(4px);
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			background: #f4f4f4;
	//		background: red;
			top: 0;
			left: 0;
			width: 100%;
			opacity: .9;
		}
		@media (min-width: @width-md) {
			backdrop-filter: none;
			&:before {
				opacity: 1;
				transform: translate3d(-50%, 0, 0) skewX(27deg);
			}
		}
		@media (min-width: @width-lg) {
			min-height: 440px;
			padding-left: 133-45px;
		}
		@media (min-width: 1690px) {
			min-height: 600px;
		}
	}
	&__logo {
		position: relative;
		
//		margin-top: 30px;
		max-width: 200px;
		
		@media (min-width: @width-md) {
			max-width: 250px;
		}
		@media (min-width: @width-lg) and (min-height: @height-lg) {
//			margin-top: 58px;
			max-width: 424px;
		}
	}
	&__block {
		position: relative;
		margin-top: 21px;
		
		margin-bottom: 80px;
		@media (min-height: @height-lg) {
			margin-bottom: 145px;
		}
		&:before {
			content: '';
			position: absolute;
			background: @global-color;
			width: 21px;
			height: 100%;
			left: -34px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 9px;
			height: 9px;
			background: black;
			box-shadow: 22px 0 0 black, 44px 0 0 black;
			
			
			bottom: -44px;
			@media (min-height: @height-lg) {
				bottom: -76px;
			}
		}
	}
	
	&__title {
		font-family: 'Futura', sans-serif;
		font-weight: 500;
		.font-size (50);
		margin: 0;
	}
	&__subtitle {
		color: #707070;
		margin-bottom: 0;
		margin-top: 20px;
		font-weight: 400;
		.font-size (34);
	}
	&__form {
		margin-bottom: 34px;
		position: relative;
		
		@media (min-width: @width-md) {
			width: 50%;
			display: flex;
		}
		@media (min-height: @height-lg) {
			margin-bottom: 84px;
		}
	}
	&__input {
		width: 170px;
		margin-right: 5px;
		@media (min-width: @width-sm) {
			width: 200px;
		}
		
		@media (min-width: @width-md) {
//			flex: 1 0 auto;
			width: 100%;
			max-width: 560px;
		}
		
		@media (min-width: @width-lg) {
			margin-right: 15px;
		}
		@media (min-width: @width-xl) {
			margin-right: 26px;
		}
	}
	&__btn {
		flex: 0 0 auto;
	}
	&__social-block {
		display: flex;
		
		@media (min-width: @width-lg) {
			margin-left: 10px;
		}
	}
	&__social-link {
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		font-size: 24px;
		padding: 3px 0;
		text-align: center;
		color: black;
		margin-right: 20px;
		
		transition: all .3s ease;
		&:hover {
			transform: scale(1.2);
		}
	}
}














.scale {
	position: absolute;
	height: 100%;
//	margin-bottom: 42px;
	z-index: 1;
	
	width: 20px;
	left: -20px;
	@media (min-width: @width-md) {
		width: 30px;
		left: -30px;
	}
//	@media (min-width: @width-lg) {
//		width: 57px;
//		left: -57px;
//	}
//	@media (min-width: @width-xl) {
//		width: 30px;
//		left: -30px;
//	}
	@media (min-width: 1440px) {
		width: 47px;
		left: -47px;
	}
	@media (min-width: 1690px) {
		width: 57px;
		left: -57px;
	}
	&:before {
		
	}
	&__bg {
		background: @global-color;
		position: absolute;
		width: 100%;
//		height: 33%;
		height: 100%;
		transition: height 1s ease;
		
	}
	&__name {
		position: absolute;
		width: auto;
		white-space: nowrap;
		top: 15px;
		/* text-align: right; */
		left: 50%;
		transform-origin: right center;
		transform: translateX(-100%) rotate(-90deg);
		color: #707070;
//		.font-size
	}
	&__item {
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 20px;
		margin-top: -20/2px;
		margin-right: -20/2px;
		border-radius: 50%;
		border: 2px solid black;
		right: 0;
		font-size: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: .5;
		transition: opacity .3s ease;
		&_1 {
			top: 27%;
			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background: url(../img/smm-icon.png) no-repeat;
				background-size: 100%;
			}
		}
		&_2 {
			top: 44%;
			&:before {
				content: '';
				position: absolute;
				width: 16px;
				height: 18px;
				background: url(../img/reputation-icon.png) no-repeat;
				background-size: 100%;
			}
		}
		&_3 {
			top: 61%;
		}
		&_4 {
			top: 78%;
		}
		&.active {
//			border-color: black;
			opacity: 1;
			> .scale__item-name {
				display: block;
			}
		}
		
		@media (min-width: @width-lg) {
			width: 33px;
			height: 33px;
			margin-top: -33/2px;
			margin-right: -33/2px;
			border: 3px solid black;
			&:hover {
				opacity: 1;
				> .scale__item-name {
					display: block;
					opacity: 1;
				}
			}
			&_1 {
				&:before {
					width: 33px;
					height: 33px;
				}
			}
			&_2 {
				&:before {
					width: 26px;
					height: 29px;
				}
			}
			
		}
	}
	&__item-name {
		width: 105px;
		position: absolute;
		left: 53px;
		text-align: left;
		color: #707070;
		opacity: 0;
		display: none;
		.font-size(18);
		font-weight: 500;
	}
}


.section-services {
	position: relative;
//	min-height: 800px;
	max-height: 100%;
	flex: 0 0 100%;
//	margin-bottom: 100px;
	
//	opacity: .5;
	
	margin-left: 20px;
    margin-right: 0;
	
	@media (min-width: @width-md) {
		margin-left: 30px;
	}
	@media (min-width: @width-xl) {
		margin-left: 75px;
		margin-right: 25px;
	}
	@media (min-width: 1440px) {
		margin-left: 130px;
		margin-right: 30px;
	}
	@media (min-width: 1690px) {
		margin-left: 175px; 
		margin-right: 40px;
	}
	&__container {
//		overflow: auto;
//		border: 1px solid red;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__block {
		
		height: 100%;
		width: 100%;
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between; 
//		height: 100%;
//		margin-left: auto;
//		margin-right: auto;
	}
	
	&__title {
		font-size: 2.5rem;
		font-weight: 500;
		position: relative;
		margin-top: 0;
//		margin-left: 100px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			height: 1.5rem;
			width: 1.5rem;
			background: @global-color;
			left: -3.5rem;
			top: 50%;
			margin-top: -0.75rem;
		}
		@media (min-width: @width-lg) {
			.font-size(65);
		}
	}
}
.services-me-list {
	list-style: none;
	position: relative;
	padding: 0;
	margin-left: 110px;
	margin-top: 0;
	margin-bottom: 0;
	&:before {
		content: 'мы';
		position: absolute;
		transform-origin: right bottom;
		transform: translate(-100%, -100%) rotate(-90deg);
		.font-size (97);
		color: #929292;
		left: -1.75rem;
		top: 5px;
	}
	&__item {
		position: relative;
		.font-size(25);
		line-height: 1;
		margin-bottom: 0.8rem;
		white-space: nowrap;
		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 0.4rem;
			width: 0.4rem;
			left: -1.5rem;
			background: black;
			top: 50%;
			margin-top: -0.2rem;
		}
	}
}
.services-smm {
	
	background: #f4f4f4;
	
	
    padding: 40px 0;
	@media (min-height: @height-md) {
		padding-top: 80px;
		padding-bottom: 65px;
	}
	
	&__content {
//		width: 1000px;
		width: 70%;
		position: relative;
		height: 100%;
		max-height: 230px;
		
//		padding: 25px 0;
		@media (min-width: @width-md) {
			max-height: none;
		}
		@media (min-width: @width-lg) {
			width: 58%;
		}
		@media (min-height: @height-sm) {
			padding: 25px 0;
		}
		@media (min-height: @height-md) {
			padding-top: 95px;
			padding-bottom: 45px;
		}
		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 47%;
			left: 71%;
			top: 0;
			background: @global-color;
			z-index: 0;
			transform: translateZ(0);
		}
	}
	&__list {
		z-index: 1;
		margin-left: 53px;
		@media (min-width: @width-md) {
			margin-left: 72%;
		}
	}
	&__img {
		max-width: 886px;
		width: 100%;
		transform: translateZ(0);
		@media (min-width: @width-sm) {
			width: 85%;
		}
	}
}
.services-reputation {
	
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 89%;
		top: 0;
		left: 0;
		background: #f4f4f4;
		z-index: -1;
	}
	&__content {
		max-width: 100%;
		margin-left: 100px;
		margin-right: 100px;
		position: relative;
		width: 70%;
		
		@media (min-width: @width-lg) {
			width: 960px;
		}
		@media (min-height: @height-lg) {
			margin-bottom: 170px;
		}
	}
	&__list {
		margin-left: 53px;
		@media (min-width: @width-lg) {
			margin-left: 200px;
		}
		
		@media (min-height: @height-md) {
			margin-top: 100px;
		}
	}
	&__figure {
		background: url(../img/reputation-img.png) center left no-repeat;
		background-size: contain;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: 90%;
		
		width: 130px;
		height: 607px;
		opacity: .15;
		
		right: 15%;
		@media (min-width: @width-md) {
			width: 314px;
			right: 100px;
			opacity: 1;
		}
		@media (min-width: @width-xl) {
			right: 13%;
		}
		@media (min-width: 1440px) {
			right: 23%;
		}
		@media (min-height: @height-lg) {
			margin-top: 40px;
		}
	}
	&__rect-1 {
		width: 314px;
		height: 295px;
		position: absolute;
		background: @global-color;
		right: 15px;
		top: 15px;
	}
	&__rect-2 {
		width: 224px;
		height: 285px;
		position: absolute;
		background: @global-color;
		right: 105px;
		top: 340px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -33px;
			
			width: 9px;
			height: 9px;
			background: black;
			box-shadow: 22px 0 0 black, 44px 0 0 black;
		}
	}
}
.services-video {
	
    justify-content: flex-end;
	
	padding-right: 30px;
	@media (min-width: 1440px) {
		padding-right: 80px;
	}
	@media (min-width: 1680px) {
		padding-right: 12.3vw;
	}
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
//		width: 73%;
		right: 0;
		left: 20%;
		top: 0;
		background: #f4f4f4;
		z-index: -1;
		@media (min-width: 1440px) {
//			padding-right: 80px;
			left: 27%;
		}
		@media (min-width: 1680px) {
		}
	}
	&__figure {
		display: block;
		position: absolute;
		background: url(../img/video-figure.png) center no-repeat;
		background-size: contain;
		top: 50%;
		transform: translateY(-50%);
		max-height: 90%;
		
		left: 20%;
		margin-left: -50px;
		opacity: .1;
		width: 200px;
		height: 200px;
		@media (min-width: @width-md) {
			opacity: 1;
			width: 400px;
			height: 400px;
			left: 10%;
			margin-left: 0;
		}
		@media (min-width: 1440px) {
			left: 20%;
		}
		
		@media (min-height: @height-lg) and (min-width: @width-xl) {
			width: 513px;
			height: 513px;
		}
	}
	&__content {
		
		@media (min-height: @height-lg) {
			margin-bottom: 270px;
		}
	}
	&__list {
		margin-left: 53px;
		
		@media (min-width: @width-lg) {
			margin-left: 230px;
			
		}
		@media (min-height: @height-md) {
			margin-top: 80px;
		}
	}
}
.services-site {
	flex-direction: column;
//	padding-left: 70px;
	@media (min-width: @width-md) {
		
		flex-direction: row;
	}
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 71%;
		top: 0;
		left: 0;
		background: #f4f4f4;
		z-index: -1;
	}
	&__content {
//		height: 
		margin-left: 0;
		flex: 0 0 auto;
		justify-content: flex-start;
		align-items: flex-start;
		
		@media (min-width: @width-md) {
			margin-left: 50px;
//			justify-content: flex-start;
			align-items: flex-end;
		}
		@media (min-width: @width-lg) {
			margin-left: 100px;
		}
		@media (min-height: @height-md) {
			height: 500px;
		}
	}
	&__list {
		margin-left: 53px;
		@media (min-width: @width-md) {
			margin-left: 110px;
		}
	}
	&__img {
		width: 90%;
		max-width: 240px;
		margin-top: 20px;
		display: flex;
		align-items: center;
//		max-height: 100%;
		> img {
			max-height: 100%;
		}
		
		@media (min-width: @width-md) {
			margin-left: 40px;
			height: 320px;
			max-width: 784px;
			margin-top: 0;
		}
		@media (min-height: @height-md) and (min-width: @width-md) {
			height: 540px;
		}
	}
	&__title {
		@media (min-width: @width-md) {
			margin-bottom: 100px;
		}
	}
}




.contacts {
	position: relative;
//	min-height: 800px;
	height: 100%;
//	overflow: auto;
	
	
//	min-height: 678px;
	margin-left: 20px;
	@media (min-width: @width-sm) {
//		margin-left: 100px;
		margin-right: 50px;
	}
	@media (min-width: @width-md) {
		margin-left: 30px;
	}
	@media (min-height: @height-md) {
		margin-bottom: 103px;
	}
	@media (min-width: 1440px) {
		margin-left: 175px;
		margin-right: 53px;
	}
	&__wrapper {
		overflow: auto;
		height: 100%;
	}
	&__title {
		padding-left: 20px;
		padding-top: 30px;
		display: inline-block;
		position: relative;
		margin-top: 0;
		
		@media (min-height: @height-md) {
			padding-top: 110px;
			padding-left: 30px;
		}
		
		@media (min-width: @width-xl) {
			padding-left: 62px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 1.25rem;
			height: 1.25rem;
			background: @global-color;
			display: block;
			bottom: 0.35rem;
			right: -3.5rem;
		}
	}
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
		flex-direction: column;
		align-items: stretch;
		background: #f4f4f4;
//		align-items: center;
		max-width: 500px;
		@media (min-width: @width-lg) {
			background: none;
			align-items: flex-start;
			flex-direction: row;
			max-width: none;
		}
	}
	&__subtitle {
		margin-top: 0;
		font-weight: 400;
	}
	&__form {
		background: #f4f4f4;
		width: 100%;
		
		padding: 20px;
		@media (min-width: @width-md) {
			padding: 30px;
		}
		@media (min-width: @width-lg) { 
			max-width: 550px;
			
		}
		@media (min-width: 1440px) {
			max-width: 1010px;
			padding: 60px 62px;
		}
	}
	&__social {
		background: #929292;
		position: relative;
		flex: 0 0;
		
		padding: 20px;
		
		@media (min-width: @width-md) {
			padding: 30px;
		}
		@media (min-width: @width-xl) {
			margin-left: 25px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -76px;
				width: 9px;
				height: 9px;
				background: black;
				box-shadow: 22px 0 0 black, 44px 0 0 black;
			}
		}
		@media (min-width: 1440px) {
			margin-left: 125px;
			padding: 60px 62px;
		}
	}
}
.contacts-form {
	
	.font-size(26);
	&__input-group {
		display: flex;
		margin-bottom: 10px;
//		margin-left: -15px;
//		margin-right: -15px;
		@media (min-width: @width-lg) {
			margin-bottom: 18px;
		}
	}
	&__checkbox {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		
//		flex: 0 0 25%;
//		max-width: 25%;
//		margin-left: 15px;
//		margin-right: 15px;
		
//		height: 65px;
		background: white;
		text-align: center;
		padding: 0.8rem 0;
		cursor: pointer;
		font-size: inherit;
		border-radius: 0;
		outline: none;
		&:checked {
			background: #dadada;
		}
		&:before {
			content: attr(value);
		}
	}
	&__input {
		width: 100%;
		font-size: inherit;
	}
	&__textarea {
		padding: 0.8rem 1rem;
		width: 100%;
		height: 100px;
		font-size: inherit;
		@media (min-width: @width-lg) {
			height: 140px;
		}
	}
	&__form-bottom {
		display: flex;
		justify-content: flex-end;
	}
	&__btn {
		font-size: inherit;
	}
}
.contacts-social {
	display: flex;
	&__orange-block {
		background: @global-color;
		display: flex;
		padding: 1rem;
		flex-wrap: wrap;
		
		flex: 0 0 auto;
		width: 120px;
		height: 120px;
		
		@media (min-width: @width-xl) {
			width: 150px;
			height: 150px;
		}
		@media (min-width: 1440px) {
			
			width: 180px;
			height: 180px;
		}
		@media (min-width: 1690px) {
			
			width: 205px;
			height: 205px;
		}
	}
	&__link {
		flex: 0 0 50%;
		max-width: 50%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		font-size: 1.5rem;
	}
	&__persons {
		width: 100%;
		text-align: right;
		padding-right: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__people {
		margin: 0.75rem 0;
	}
	&__name {
		color: black;
	}
	&__email {
		color: #404040;
		display: block;
		text-decoration: none;
	}
}